In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
inspector = inspect(engine)

In [6]:
# Return Table Names
inspector.get_table_names()

['measurement', 'station']

In [7]:
# <Measurement> Table 1 Fields:
tbl_1 = inspector.get_table_names()[0]
fieldList_1 = inspector.get_columns(tbl_1)
for i, fld in enumerate(fieldList_1):
    print(i, fld)

0 {'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
1 {'name': 'station', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
2 {'name': 'date', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
3 {'name': 'prcp', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
4 {'name': 'tobs', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

In [8]:
# <Station> Table 2 Fields:
tbl_2 = inspector.get_table_names()[1]
fieldList_2 = inspector.get_columns(tbl_2)
for i, fld in enumerate(fieldList_2):
    print(i, fld)

0 {'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
1 {'name': 'station', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
2 {'name': 'name', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
3 {'name': 'latitude', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
4 {'name': 'longitude', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
5 {'name': 'elevation', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

In [9]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [10]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [11]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [12]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# 1. Design a Query to Retrieve the Last 12 Months of Percipitation Data and Plot the Results

In [15]:
qryReturn_1 = session.query(Measurement)
for retval in qryReturn_1[:100]:
    print(retval.id, retval.station, retval.date, retval.prcp)

1 USC00519397 2010-01-01 0.08
2 USC00519397 2010-01-02 0.0
3 USC00519397 2010-01-03 0.0
4 USC00519397 2010-01-04 0.0
5 USC00519397 2010-01-06 None
6 USC00519397 2010-01-07 0.06
7 USC00519397 2010-01-08 0.0
8 USC00519397 2010-01-09 0.0
9 USC00519397 2010-01-10 0.0
10 USC00519397 2010-01-11 0.01
11 USC00519397 2010-01-12 0.0
12 USC00519397 2010-01-14 0.0
13 USC00519397 2010-01-15 0.0
14 USC00519397 2010-01-16 0.0
15 USC00519397 2010-01-17 0.0
16 USC00519397 2010-01-18 0.0
17 USC00519397 2010-01-19 0.0
18 USC00519397 2010-01-20 0.0
19 USC00519397 2010-01-21 0.0
20 USC00519397 2010-01-22 0.0
21 USC00519397 2010-01-23 0.0
22 USC00519397 2010-01-24 0.01
23 USC00519397 2010-01-25 0.0
24 USC00519397 2010-01-26 0.04
25 USC00519397 2010-01-27 0.12
26 USC00519397 2010-01-28 0.0
27 USC00519397 2010-01-30 None
28 USC00519397 2010-01-31 0.03
29 USC00519397 2010-02-01 0.01
30 USC00519397 2010-02-03 None
31 USC00519397 2010-02-04 0.01
32 USC00519397 2010-02-05 0.0
33 USC00519397 2010-02-06 0.0
34 USC00519397 2010-02-07 0.0
35 USC00519397 2010-02-08 0.0
36 USC00519397 2010-02-09 0.0
37 USC00519397 2010-02-11 0.0
38 USC00519397 2010-02-12 0.02
39 USC00519397 2010-02-13 0.01
40 USC00519397 2010-02-14 0.0
41 USC00519397 2010-02-15 0.0
42 USC00519397 2010-02-16 0.0
43 USC00519397 2010-02-17 0.0
44 USC00519397 2010-02-19 None
45 USC00519397 2010-02-20 0.03
46 USC00519397 2010-02-21 0.0
47 USC00519397 2010-02-22 0.0
48 USC00519397 2010-02-23 0.0
49 USC00519397 2010-02-24 0.0
50 USC00519397 2010-02-25 0.0
51 USC00519397 2010-02-26 0.0
52 USC00519397 2010-02-28 0.0
53 USC00519397 2010-03-01 0.01
54 USC00519397 2010-03-02 0.0
55 USC00519397 2010-03-03 0.0
56 USC00519397 2010-03-04 0.12
57 USC00519397 2010-03-05 0.08
58 USC00519397 2010-03-06 0.03
59 USC00519397 2010-03-07 0.0
60 USC00519397 2010-03-08 0.43
61 USC00519397 2010-03-09 0.06
62 USC00519397 2010-03-11 None
63 USC00519397 2010-03-12 0.0
64 USC00519397 2010-03-13 0.0
65 USC00519397 2010-03-14 0.0
66 USC00519397 2010-03-15 0.06
67 USC00519397 2010-03-17 0.0
68 USC00519397 2010-03-18 0.0
69 USC00519397 2010-03-21 0.0
70 USC00519397 2010-03-22 0.0
71 USC00519397 2010-03-23 0.0
72 USC00519397 2010-03-24 0.0
73 USC00519397 2010-03-26 None
74 USC00519397 2010-03-27 0.0
75 USC00519397 2010-03-28 0.0
76 USC00519397 2010-03-29 0.0
77 USC00519397 2010-03-30 0.0
78 USC00519397 2010-03-31 0.0
79 USC00519397 2010-04-01 0.0
80 USC00519397 2010-04-02 0.01
81 USC00519397 2010-04-03 0.17
82 USC00519397 2010-04-04 0.15
83 USC00519397 2010-04-05 0.27
84 USC00519397 2010-04-06 0.01
85 USC00519397 2010-04-08 0.0
86 USC00519397 2010-04-09 0.01
87 USC00519397 2010-04-10 0.0
88 USC00519397 2010-04-11 0.01
89 USC00519397 2010-04-12 0.01
90 USC00519397 2010-04-13 0.0
91 USC00519397 2010-04-15 0.0
92 USC00519397 2010-04-16 0.01
93 USC00519397 2010-04-17 0.0
94 USC00519397 2010-04-18 0.0
95 USC00519397 2010-04-19 0.0
96 USC00519397 2010-04-20 0.04
97 USC00519397 2010-04-21 0.01
98 USC00519397 2010-04-22 0.0
99 USC00519397 2010-04-23 0.02
100 USC00519397 2010-04-24 0.0

In [ ]:
qryReturn_1.count()

In [ ]:
percipitation_ttm = session.query(Measurement).filter(Measurement.date >= dt.date(2016,8,23))
print(*percipitation_ttm)

In [ ]:
dt.date(2018,5,21)

In [ ]:
session.query(Measurement).filter(max(Measurement.date))

![precipitation](Images/precipitation.png)

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

![describe](Images/describe.png)

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

![precipitation](Images/station-histogram.png)

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

## Optional Challenge Assignment

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`